<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script charset="utf-8" src='/kindeditor/kindeditor-min.js'></script>
    <script charset="utf-8" src='/kindeditor/lang/zh_CN.js'></script>
    <script>
        var editor;
        KindEditor.ready(function(K){
            editor = K.create('textarea',{
                allowImageUpload: false,
                items: ['fontname','fontsize','|','forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline','removeformat', '|','justifyleft', 'justifycenter',
                    'justifyright','insertorderedlist', 'insertunorderedlist','|','emoticons','image','link']
            });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <header>
            <h1 class="hd-title"><%= title %></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/" title="主页">主页</a></li>
                <% if(user) { %>
                <li><a href="/post" title="发表">发表</a></li>
                <li><a href="/upload" title="上传">上传</a></li>
                <li><a href="/logout" title="登出">登出</a></li>
                <% } else{ %>
                <li><a href="/login" title="主页">登录</a></li>
                <li><a href="/reg" title="主页">注册</a></li>
                <% } %>
            </ul>
        </nav>
        <artical>
            <% if(success){ %>
                <div><%= success %></div>
            <% } %>
            <% if(error) { %>
                <div><%= error %></div>
            <% } %>

