<%- include header %>
    <div class="loginbox">
        <form method="post">
            <ul>
                <li><span>用户名：</span><input type="text" name="name"/></li>
                <li><span>密码：</span><input type="password" name="password"/></li>
                <li><input class="logbtn" type="submit" value="登录"/></li>
            </ul>
        </form>
    </div>
<%- include footer %>