<%- include header %>
    <div class="tagsBox">
        <% posts.forEach(function(tag){ %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
        <% }) %>
    </div>
<%- include footer %>